* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #000;
  color: #000;
}

/* NAVBAR */
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.navbar h2 {
  color: #000;
}

.navbar a {
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.contact-btn {
  background: #fff;
  color: #000 !important;
  padding: 8px 18px;
  border-radius: 20px;
}

/* HERO */
.hero {
  display: flex;
  min-height: 100vh;
}

/* LEFT PANEL */
.hero-left {
  width: 55%;
  background: #e6e6e6;
  padding: 200px 120px;
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.hero-left h1 {
  font-size: 52px;
  margin-bottom: 15px;
}

.hero-left span {
  font-weight: 800;
}

.hero-left p {
  font-size: 18px;
  color: #555;
}

.hero-buttons {
  margin-top: 35px;
}

.btn {
  background: #000;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  margin-right: 15px;
}

.btn-outline {
  border: 2px solid #000;
  color: #000;
  padding: 12px 24px;
  text-decoration: none;
}

/* RIGHT PANEL */
.hero-right {
  width: 45%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right img {
  width: 350px;
  border-radius: 10px;
}

/* ABOUT */
.about {
  display: flex;
  padding: 80px;
  gap: 60px;
  background: #fff;
}

.about-image img {
  width: 320px;
}

.line {
  width: 40px;
  height: 3px;
  background: #000;
  margin-bottom: 20px;
}

/* SKILLS */
.skills {
  padding: 80px;
  background: #f5f5f5;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.skill-grid span {
  padding: 10px 18px;
  border: 1px solid #ccc;
}

/* PROJECTS */
.projects {
  padding: 80px;
  background: #fff;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 25px;
}

/* CONTACT */
.contact {
  background: #000;
  color: #fff;
  padding: 80px;
}

/* FOOTER */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}
* {
  font-family: 'Inter', sans-serif;
}
